body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvet,san-serif;
	font-size: 14px;
	width: 620px;
	background-color: #EEE;
}

.main-post-item {
	border: 1px solid #DDD;
	border-radius: 2px;
	height: 100%;
	background-color: #FFF;
	padding: 0;
	margin-bottom: 50px;
}

.main-modal-more {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	animation: none;
}

@keyframes fadeInModal {
	0% {
		transform: scale(1.5);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.main-modal-more .modal-more-content {
	width: 25%;
	background-color: #FFF;
	border-radius: 10px;
	text-align: center;
}

.main-modal-more .modal-more-content .modal-item:not(:last-child) {
	border-bottom: 1px solid #DDD;
}

.main-modal-more .modal-more-content .modal-item:first-child  {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.main-modal-more .modal-more-content .modal-item:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}


.main-modal-more .modal-item {
	background-color: transparent;
	height: 50px;
	width: 100%;
	outline: none;
	border: none;
	cursor: pointer;
	margin: 0;
	vertical-align: middle;
}

.main-modal-more .modal-item:active {
	background-color: #DDD;
}

.main-modal-more .modal-red {
	font-weight: 600;
	color: #ED4956;
}

.main-modal-more .modal-default {
	font-weight: 400;
}

.main-post-title {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #DDD;
}

.main-post-title .post-profile {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.main-post-title .post-profile .profile-pic {
	margin: 15px 10px;
	height: 40px;
	width: 40px;
	background-image: url('https://via.placeholder.com/128');
	background-position: center;
	background-size: cover;
	border-radius: 50%;
}

.main-post-title .post-profile .profile-username {
	font-weight: 600;
}

.main-post-title .post-profile .profile-username a {
	text-decoration: none;
	color: #000;
}

.main-post-title .post-more {
	margin-right: 10px;
	cursor: pointer;
}

.main-post-title .post-more i {
	font-size: 13px;
}

.main-post-image {
	position: relative;
}

.main-post-image .post-img {
	width: 100%;
}

.main-post-image .post-overlay-icon {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 0;
	color: #DDD;
	visibility: hidden;
}

.main-post-image .post-overlay-icon i {
	font-size: 1.5rem;
	animation: none;
	opacity: 0;
}

@keyframes scalingInOverlay {
	0% {
		transform: scale(1);
		opacity: 0;
	}
	100% {
		transform: scale(5);
		opacity: 1;
	}
}

@keyframes scalingOutOverlay {
	0% {
		transform: scale(5);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

.main-post-image .btnPrev,
.main-post-image .btnNext {
	position: absolute;
	top: 50%;
	font-size: 1.5rem;
	transform: translate(0, -50%);
	color: #DDD;
	cursor: pointer;
}

.main-post-image .btnPrev {
	left: 20px;
}

.main-post-image .btnNext {
	right: 20px;
}

.main-post-toolbar {
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
}

.main-post-toolbar .toolbar-left {
	flex-grow: 1;
	margin: 0;
	padding-left: 15px;
}

.main-post-toolbar .toolbar-right {
	padding-right: 15px;
}

.main-post-toolbar .tool-icon {
	margin: 10px 5px 5px 5px;
	font-size: 1.5rem;
	cursor: pointer;
}

.main-post-toolbar .toolbar-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	margin: 0 auto;
}

.toolbar-center .toolbar-iconImg {
	font-size: 0.4rem;
	margin: 0 2px;
	color: #ABABAB;
}

.btnLike[action-label="like"] {
	color: rgb(237, 73, 86);
	animation: none;
}

.btnLike[action-label="unlike"] {
	color: rgb(0, 0, 0);
	animation: none;
}

@keyframes scalingLikeBtn {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}

.main-post-like-count {
	margin: 5px 20px;
	font-weight: 600;
	cursor: pointer;
}

.main-post-content {
	margin: 5px 20px;
	display: flex;
}

.main-post-content .profile-username,
.post-comment-item .profile-username {
	font-weight: 600;
}

.main-post-content .profile-username a,
.post-comment-item .profile-username a {
	text-decoration: none;
	color: #000;
}

.main-post-content .post-user-content,
.post-comment-item .post-user-comment {
	margin: 0;
	margin-right: 20px;
	text-align: left;
}

.post-comment-item {
	display: flex;
	margin: 0px 20px;
	align-items: center;
}

.post-comment-item .post-user-comment {
	flex-grow: 1;
}

.post-comment-item .post-comment-like {
	font-size: 0.7rem;
	cursor: pointer;
}

.main-post-timeline {
	margin: 5px 20px;
	text-transform: uppercase;
	font-size: 0.7rem;
	cursor: pointer;
}

.main-post-timeline a {
	text-decoration: none;
	color: #AAA;
}

.main-post-add-comment {
	width: 100%;
	border-top: 1px solid #DDD;

}

.main-post-add-comment .commentForm {
	display: flex;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 56px;
}

.commentForm .commentText {
	flex-grow: 1;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvet,san-serif;
	font-size: inherit;
	resize: none;
	border: none;
	outline: none;
	padding: 0;
	line-height: 18px;
	height: 18px;
	text-rendering: auto;
	max-height: 80px;
}

.commentForm .commentSubmit {
	border: none;
	outline: none;
	font-family: inherit;
	font-size: inherit;
	color: #0095f6;
	background-color: #FFF;
	font-weight: 600;
	cursor: pointer;
}

.commentForm .commentSubmit[disabled] {
	opacity: 0.3;
}